
body{
    min-width: 1400px;
}

.body{
    background-color: darkgray;
}

.BlockSevenDays{
    border-radius: 10px;
    height: 500px;
    background-image: url(https://cuzkov.github.io/JS_labs/lab3/images/BackGround.jpg);
    background-size: cover;
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.BlockDay{
    background-color: dimgray;
    height: 200px;
    width: 150px;
    opacity: .3;
    margin: 15px 10px;
    border-radius: 5px;
    padding: 0px 10px;
}

